<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.0.0" targetFramework="net45" />
  <package id="FluentAssertions" version="2.2.0.0" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.91.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>