<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
  </connectionStrings>

  <appSettings>
    <add key="DisabledService.Enabled" value="false"/>
    <add key="EnabledService.Enabled" value="true"/>
  </appSettings>
    
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
</configuration>
