<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentAssertions" version="3.2.2" targetFramework="net452" />
  <package id="Griffin.AdoNetFakes" version="2.0.7" targetFramework="net45" />
  <package id="NCrunch.Framework" version="2.6.0.18" targetFramework="net45" />
  <package id="NSubstitute" version="1.7.2.0" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>